@{
    ViewBag.Title = "Home Page";
}


@*----------------------------------
Microsoft
----------------------------------*@
<div class="CertificateImage">
    <img id="MCSD-AppBuilder" src="~/Files/Certificates/Microsoft/MCSD (Microsoft Certified Solutions Developer) - App Builder.PNG" />
</div>
<hr/>
<div class="CertificateImage">
    <img id="MCSD-Webdeveloper" src="~/Files/Certificates/Microsoft/MCSD (Microsoft Certified Solutions Developer) - Web Applications.PNG" />
</div> 
<hr />
<div class="CertificateImage">
    <img id="MCSA" src="~/Files/Certificates/Microsoft/MCSA (Microsoft Certified Solutions Associate) - Web Applications - Charter Member.PNG" />
</div> 
<hr />
<div class="CertificateImage">
    <img id="MCP" src="~/Files/Certificates/Microsoft/MCP (Microsoft Certified Professional).PNG" />
</div> 
<hr />
<div class="CertificateImage">
    <img id="MS" src="~/Files/Certificates/Microsoft/Microsoft Specialist - Programming in HTML5 with JavaScript and CSS3.PNG" />
</div> 
<hr /> 
<div class="CertificateImage">
    <img id="MTA" src="~/Files/Certificates/Microsoft/MTA (Microsoft Technology Associate).PNG" />
</div>  
<hr /> 
@*----------------------------------
    PMI
----------------------------------*@
<div class="CertificateImage">

    <img id="PMI-ACP" src="~/Files/Certificates/PMI/PMI-ACP.PNG" />
</div>  
<hr /> 
<div class="CertificateImage">
    <img id="PMP" src="~/Files/Certificates/PMI/PMP.PNG" />
</div> 
<hr />  
@*----------------------------------
    CIWcertified
----------------------------------*@
<div class="CertificateImage">
    <img id="CIW-Html" src="~/Files/Certificates/CIW/CIW Advanced HTML5 & CSS3 Specialist.PNG" />
</div>  
<div class="CertificateImage">
    <img id="CIW-Sitedevelopment" src="~/Files/Certificates/CIW/CIW Site Development Associate.PNG" />
</div>  
@*----------------------------------
    Scrum.org
----------------------------------*@
<div class="CertificateImage">
    <img id="PSM" src="~/Files/Certificates/Scrum.org/PSM.PNG" />
</div>  
<hr /> 
<div class="CertificateImage">
    <img id="PSPO" src="~/Files/Certificates/Scrum.org/PSPO.PNG" />
</div>  
<hr /> 
